<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="container shape-container d-flex align-items-center py-lg">
        
        <div class="col px-0">
          <div class="row align-items-center justify-content-between">
            <div class="d-lg-flex d-none col-lg-5 order-last embed-responsive embed-responsive-16by9 border-vid">
              <iframe class="embed-responsive-item video-margin" src="https://www.youtube.com/embed/Rj4mJD_smqc?rel=0&amp;autoplay=1&mute=1&controls=0"
              frameborder="0" allowfullscreen  title="YouTube video player"></iframe>
            </div>
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/argon-white.png" style="width: 400px;" class="img-fluid">
              <font color="#fffff" size="3" face="Open Sans"><br><br><i>Apoya a tus Creadores de Contenido favoritos mediante una membresía mensual.</i></font>
              <div class="btn-wrapper mt-5">
                <a [routerLink]="['/register']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="bi bi-plus"></i></span>
                  <span class="btn-inner--text">Empezar ahora</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
