<main>

    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container cont lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card bg-secondary shadow border-radius-80">
              <div class="card-header bg-white pb-7">
                <div class="row justify-content-center"></div>
                <h1>Elige el tipo de contenido a publicar:</h1><br>
                <div class="card-deck categorias">
                  <div class="card cat">
                    <img class="card-img-top catimg" [routerLink]="['/createPost/text']" src="./assets/img/theme/texto.png" alt="Card image cap">
                  </div>
                  <div class="card cat">
                    <img class="card-img-top catimg" [routerLink]="['/createPost/image']" src="./assets/img/theme/imagen.png" alt="Card image cap">
                  </div>
                  <div class="card cat">
                    <img class="card-img-top catimg" [routerLink]="['/createPost/video']" src="./assets/img/theme/video.png" alt="Card image cap">
                  </div>
                  <div class="card cat">
                    <img class="card-img-top catimg" [routerLink]="['/createPost/link']" src ="./assets/img/theme/link.png" alt="Card image cap">
                  </div>
                  <div class="card cat">
                    <img class="card-img-top catimg" [routerLink]="['/createPost/audio']" src ="./assets/img/theme/audio.png" alt="Card image cap">
                  </div>
                </div><br><br>
                <div class="row justify-content-center">
                  <div class="col-md-6 col-lg-10">
                    <div class="card cards-ps">
                      <img class="card-img-top" style="width: 15%;margin-left: 42%;margin-top: 10px;" src="./assets/img/theme/idea.png">            
                        <div class="card-body">
                          <h4 class="card-title">¡CREA Tips!</h4>
                          <p><i><small>Los creadores que publican contenido exclusivo para suscriptores por lo menos dos veces al mes suelen retener a más usuarios.</small></i></p>
                        </div>
                    </div>
                  </div>
                </div> 
             </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
